body { 
	color: #000 !important;
}
h1 {
	color: #000;
	text-align: center;
}
/*Hace clickeable el svg del logo en el menu*/
.a-svg:after {
  content: ""; 
  position: absolute; 
  top: 0; 
  right: 0; 
  bottom: 0; 
  left: 0;
}
.breadcrumb {
	background-color: transparent;
}
/*formularios*/
.formulario {
	padding-bottom: 50px;
}
.formulario-input {
	border: none !important;
    border-bottom: 1.5px solid #071689 !important;
    border-radius: 0px !important;
}
/*Error 404*/
.pollo {
	max-width: 50%;
	width: 200px;
	margin-left: auto;
	margin-right: auto;
}
.titulo-error {
	margin-left: auto;
	margin-right: auto;
}
/*Hagamos negocio*/
header.carousel-negocio {
	height: 50% !important;
	border-bottom: 4px solid rgb(217,35,46);
}
.info-negocio {
	background-color: rgba(7,22,137,1);
	border:  1.5px solid rgba(7,22,137,1) !important;
	padding: 15px;
	color: #FFF;
}
.info-negocio > p {
	opacity: 0.7;
}
/*Nuestras Marcas, catalogo e individual*/
.border-nutrimental {
	border-color: #e31d1a;
	border-width: 1px !important;
	border-bottom-style: dotted !important; 
}
.info-nutrimental {
	font-size: 2em;
	color: #fff !important;
	background-color: #e31d1a !important;
}
.info-nutrimental > th {
	border-top-left-radius: 45px; 
	padding:10px;
}
.td-th {
	color: #fff !important;
	background-color: #104188 !important;
	padding:10px;
	font-size: 1.2em;
}
.cont-nutri {
	font-weight: bold;
	color: #104188 !important;
	font-size: 1.2em;
	background-color: #FFFFFF !important;
}
.td-left > blockquote {
	margin: 0px;
	padding: 0px;
	border-color: #FFFFFF !important;
}
.border-blanco {
	border-right: 1.8px solid rgba(255,255,255,1) !important;
}
.td-right {
	padding-left: 15px;
}
.td-left {
	padding-left: 15px;
	border-right: 1.8px solid rgba(16,65,136,1) !important;
}
.nuestras-marcas {
	background: url('../rec/img/bg-lanzamiento.jpg') fixed; 
}
.h3-producto {
	background-color: #e7e7e7; 
	color: #071689; 
	border-top-left-radius: 10px; 
	padding: 10px 15px; 
	text-align: left !important; 
	margin-top: 0px;
}
.h3-vista {
	color:#071689; 
	padding:10px 15px; 
	text-align:left;
}
.p-beneficios {
	color: #e31d1a;
	font-size: 1.5em;
	margin-bottom: 10px;
	margin-top: 10px;
}
.div-gris {
	background-color: #e7e7e7 !important;
	margin-bottom: 10px;
}
.preview-producto {
	padding-top: 13.52%;
	padding-bottom: 13.52%;
}
.productos {
	margin: 2% 0px !important;
	padding-left: 0px;
	padding-right: 0px;
}
.thumbnail-producto {
	margin-left: auto;
	margin-right: auto;
	max-height: 363px;
}
.productos .row .col-lg-4 {
	margin-bottom: 15px;
	margin-top: 15px;
}
.hovereffect img {
    max-height: 240px;
    margin-left: auto !important;
    margin-right: auto !important;
}
.hovereffect:hover .producto{
	opacity: 0;
	-webkit-transition: opacity 0.35s;
}
h2.h2-catalogo {
	font-size:1.5em; 
	margin-top:0px; 
	margin-bottom:0px;
	padding-bottom: 0px;
}
/*Efecto para los productos de Pilgrims Valor agregado*/
.hovereffect .overlay {
	background-color: rgba(23,65,133,1) !important;
    padding-top: 2%;
}
.hovereffect {
	width: 100%;
	background-color: transparent;
}
/*Efecto para los productos de Pilgrims Valor agregado*/
.valor-a {
    padding-top: 5% !important;
}
.miniatura-vista {
	width: 25% !important;
	opacity: 0.7;
}
.miniatura-vista:hover {
	opacity: 1;
	-webkit-transition: opacity 0.35s;
}
.a-receta {
	text-align: right;
	bottom: 0px;
}
.td-producto {
	vertical-align: top;
}
.descripcion {
	font-size: 1.3em;
	font-weight: lighter;
	margin: 10px;
}
.producto {
	text-align: center;
}
.hr-productos {
	color: #000;
	background-color: #000;
	height: 1px;
	border: none;
	margin: 10px 0px; 
}
.bg-productos {
	background-color: rgba(255,255,255,0.5);
	border-radius: 5px;
	padding-bottom: 10px;
}
.bg-productos h3{
	text-align: center;
}
.producto-caption {
	display:none;
}
/*Nuestras plantas*/
.icon-pollito {
	padding-right: 5px;
}
.p-plantas {
	margin-left: 33px;
}
#incubadoras > div > h3,
#alimentos > div > h3,
#procesos > div > h3 {
	margin-bottom: 0px;
}
.tabs-plantas {
	background-color: rgb(250,250,250);
	margin-bottom: 50px;
	border-radius: 5px;
	padding: 10px;
}
.nav-tabs li {
	text-align: center;
    width: 33% !important;
    font-size: 1.5em;
}
ul.plantas-tabs>li.active a {
	color: rgb(255,255,255) !important;
    background-color: rgb(1,6,85) !important;
    border-top: 4px solid rgb(217,35,46) !important;
}

/*Historia Pilgrim's*/
.pilgrims-mundo {
	position: static;
	background: url('../rec/img/mundo_linea.png') no-repeat center fixed !important;
}
.pilgrims-mundo p {
	margin: 0px;
	padding: 5px;
	font-size: 1.5em;
	background-color: rgba(255,255,255,0.5);
}
.movil-historia {
	display: none;
}
.desktop-historia {
	display: block;
}
/*Menu Redes Sociales*/
.social {
	position: fixed; /* Hacemos que la posición en pantalla sea fija para que siempre se muestre en pantalla*/
	right: 0; /* Establecemos la barra en la izquierda */
	top: 50%; /* Bajamos la barra 200px de arriba a abajo */
	z-index: 2000; /* Utilizamos la propiedad z-index para que no se superponga algún otro elemento como sliders, galerías, etc */
}
.social ul {
	list-style: none;
}
.social ul li {
	text-align: center !important;
	border-radius: 25px;
	margin: 8px;
}
.rrss-icon {
	color:#FFF !important; 
	padding: 10px !important;
}
/*Flecha*/
.flecha {
	right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
	bottom: 10%; /* Bajamos la barra 200px de arriba a abajo */
	color: rgba(255,255,255,0.8);
}
.flecha i {
	text-align: center !important;
}
.flecha a, .flecha a:visited {
	color: rgba(255,255,255,0.8);
}
.flecha-azul {
	right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
	bottom: 10%; /* Bajamos la barra 200px de arriba a abajo */
	color: rgba(7,22,137,0.8);
}
.flecha-azul i {
	text-align: center !important;
}
.flecha-azul a, .flecha-azul a:visited {
	color: rgba(7,22,137,0.8);
}
/*Modales de privacidad y confidencialidad*/
.encabezado-modal {
	width: 100%;
	background-color: #071689;
	text-align: center;
}
.modal-body {
	color: #898989 !important;
}
.modal-body p {
	text-align: justify;
}
.modal-body h4 {
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
	font-weight: bold;
}
.modal-body ul{
	margin: auto;
	padding-left: 20px;
}
.h4-bmodal {
	color: rgb(217,35,46) !important;
	text-align: center;
}
/*Pilgrim's México*/
.div-azul {
	width: 100%;
	background-color: #071689;
	color: rgb(255,255,255);
	font-size: 1.5em;
	text-align: center;
	padding: 3%;
	margin-bottom: 0px;
}
.m-mapa{
  display: none;
  width: 100%;
}
#m-mapa img{
	max-width: 100% !important;
}
#d-mexico{
  background: rgba(255,255,255,0.5);
  border-radius: 2px;
  margin-top: 0px;
  padding: 5% 25% 5% 25% !important;
  margin: auto;
}

#m-mexico{
	display: none;
	width: 100%;
	background: rgba(255,255,255,0.5);
	border-radius: 2px;
	margin-top: 0px;
	padding: 5%  !important;
	margin: auto;
	text-align: center;
}
#m-mexico img{
	margin-left: auto; 
	margin-right:auto;
}
.elem-somos {
	margin-top: 2%;
	margin-bottom: 2%;
}

/*Media query*/
@media (min-width: 1701px) {
	.linea1{
		display:inline;
	}
	.linea2{
		display: none;
	}
}
@media (min-width:768px) and (max-width: 1700px)  {
	.linea1{
		display: none;
	}
	.linea2{
		display: inline;
	}
}
@media (max-width: 767px) {
	/*Recolocación de miniaturas de vista y aumento de tamaño*/
	.miniatura-vista {
		width: 30% !important;
		opacity: 0.7;
		margin-left: auto;
		margin-right: auto;
	}
	.a-receta {
		border-top: 3px solid #d9232e;
		text-align: center;
		bottom: 0px;
		font-size: 1.3em;
	}
	.vista {
		text-align: center;
		margin-bottom: 10px;
	}
	/*Quitar efecto hover y hacer visible caption del thumbnail */
	.overlay, .hr-hover, .descripcion {
		display: none !important;
	}
	.hovereffect:hover .producto{
		opacity: 1 !important;
		-webkit-transition: opacity 0.35s;
	}
	.hovereffect:hover img {
	    background-color: transparent;
    }
	/*Imagenes de galerias de nuestras marcas*/
	.hovereffect img {
		max-height: 359px !important;
		filter: none !important;
		-webkit-filter: none !important;
	}
	/*Centrar textos de Historia Pilgrim's*/
	.elem_animar {
		text-align: center !important;
	}
	/*Desaparece barra social en moviles*/
	.social {
		display: none;
	}
	/*Desaparece margin izquierdo*/
	.p-plantas {
		margin-left: 0px;
	}
	.nav-tabs li {
	    font-size: 1em;
	}
	/*Opcion de menú valor */
	.linea1{
		display: inline;
	}
	.linea2{
		display: none;
	}
}
@media (max-width: 1024px) {
	.pilgrims-mundo {
		background: url('../rec/img/mundo_linea.png') no-repeat center scroll !important;
	}
}
@media (min-width: 993px) {
	.pleca-movil {
		margin-bottom: 4% !important;
		display: none;
	}
	.pleca-escritorio {
		margin-bottom: 4% !important;
		display: inline;
	}
}
@media (max-width: 992px) {
/*Cambio de fondo para quitar la linea azul de la historia Pilgrim's*/
	.pilgrims-mundo {
		background: url('../rec/img/mundo.png') no-repeat center scroll !important;
	}
	.pilgrims-mundo p {
		text-align: center !important;
	}
	.desktop-historia {
		display: none;
	}
	.movil-historia {
		display: block;
	}
	/*Desaparece flecha*/
	.flecha, .flecha-azul {
		display: none;
	}
	.preview-producto {
		padding-top: 0px;
		padding-bottom: 0px;
	}
	.pleca-movil {
		margin-bottom: 4% !important;
		display: inline;
	}
	.pleca-escritorio {
		margin-bottom: 4% !important;
		display: none;
	}
	.beneficios {
		margin-top:10px;
	}
}

@media (max-width: 1200px) {
	#d-mexico {
	  display: none;
	}
	.align-beneficios {
		text-align: center;
	}
	#m-mexico {
	  display: inline-block;
	}
	/*Manejo de mapas para Pilgrim's México*/
	.m-mapa {
	  display: inline;
	}
	.d-mapa {
	  display: none;
	}
}

@media (max-width: 420px) {
	.va-descripcion{
		font-size: 0.9em !important;
	}
	.h3-producto, .h3-vista, .p-beneficios, .ver-recetario, .cont-nutri, .td-left > blockquote {
		font-size: 1em;
	}
	.td-th {
		font-size: 1.1em !important;
	}
	.info-nutrimental {
		font-size: 1.3em !important;
	}
}