h1 {
	color: #000;
	text-align: center;
}
/*formularios*/
.formulario-input {
	border: none !important;
    border-bottom: 1.5px solid #071689 !important;
    border-radius: 0px !important;
}
.formulario {
	padding-bottom: 50px;
}
.carousel-caption {
	background-color: rgba(7,22,137,0.5);
	font-size: 1.5em;
}
body { 
	color: #000 !important;
}
/*Hagamos negocio*/
header.carousel-negocio {
	height: 50% !important;
	border-bottom: 4px solid rgb(217,35,46);
}
.info-negocio {
	background-color: rgba(7,22,137,1);
	border:  1.5px solid rgba(7,22,137,1) !important;
	padding: 15px;
	color: #FFF;
}
.info-negocio > p {
	opacity: 0.7;
}
.triangulo {
	opacity: 1;
	width: 40px;
	height: auto;
}
/*Nuestras Marcas, catalogo e individual*/
.nuestras-marcas {
	background: url('../rec/img/bg-lanzamiento.jpg') fixed; 
}
.productos {
	padding: 1%;
	margin: 1%;
	margin-bottom: 10% !important;
}
.breadcrumb {
	background-color: transparent;
}
.productos .row .col-lg-4 {
	margin-bottom: 1%;
}
.hovereffect:hover .producto{
	opacity: 0;
	-webkit-transition: opacity 0.35s;
}
.hovereffect {
	width: auto;
}
.miniatura-receta {
	width: 30% !important;
}
.miniatura-vista {
	width: 25% !important;
	opacity: 0.7;
}
.miniatura-vista:hover {
	opacity: 1;
	-webkit-transition: opacity 0.35s;
}
.a-receta {
	text-align: right;
	bottom: 0px;
}
.td-producto {
	vertical-align: top;
}
.descripcion {
	font-size: 1.3em;
	font-weight: lighter;
	margin-top: 10px;
	margin-bottom:10px;
}
.producto {
	text-align: center;
}
.hr-rojo {
	color: red;
	background-color: #d9232e;
	height: 3px;
	border: none;
	margin: 0px; 
}
.bg-productos {
	background-color: rgba(255,255,255,0.5);
	border-radius: 5px;
	border-bottom: 8px solid #071689;
	border-top: 8px solid #071689;
}
/*Nuestras plantas*/
.icon-pollito {
	padding-right: 5px;
}
.p-plantas {
	margin-left: 33px;
}
#incubadoras > div > h3,
#alimentos > div > h3,
#procesos > div > h3 {
	margin-bottom: 0px;
}
.tabs-plantas {
	background-color: rgb(250,250,250);
	margin-bottom: 50px;
	border-radius: 5px;
	padding: 10px;
}
.nav-tabs li {
	text-align: center;
}
/*Historia Pilgrim's*/
.pilgrims-mundo p {
	margin: 30px 20px 30px 20px;
	font-size: 1.5em;
}
/*Desaparecer banner/slider en dispositivos moviles*/
@media (max-width: 767px) {

}