/*BODY*/
@font-face {
  font-family: 'Cronos-Pro';
  src: url('../fonts/Cronos-Pro_12459.ttf') format('truetype');
}

html, body, h3, h2, header{
	font-family: 'Cronos-Pro' !important;
  color: #003366;
}

h2{
  margin-bottom: 0px;
  margin-top: 1%;
}
/*GENERAL*/
body {
  padding-top: 90px !important;
}
.banner {
  width: 100%;
}
@media(max-width:945px) {
    body {
      padding-top: 170px;
    }
}
@media (max-width: 767px) {
    body {
      padding-top: 84px;
    }
}
/*HEADER*/
.icon-nav {
    margin: auto;
}
.navbar-nav {
    width: 90%;
}
.navbar-nav > li > a {
    text-align: center;
    height: 94px;
}
.navbar-header {
    padding: 0px 15px;
    float: left;
}
.nav > li {
  width: 11% !important;
}
.navbar-inverse {
    background-color: rgb(7,22,137);
    border-color: rgb(7,22,137);
}
.navbar {
    border-radius: 0px;
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
    color: rgb(255,255,255);
    background-color: rgb(1,6,85);
    border-top: 4px solid rgb(217,35,46);
}
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
    color: rgb(255,255,255);
    background-color: rgba(1,6,85,0.7);
}
.dropdown-menu {
    padding: 0;
    width: 188.4px;
    min-width: 115px;
}
.dropdown-menu > li {
    padding: 8px 5px;
    color: rgb(255,255,255);
    background-color: rgb(1,6,85);
}
.dropdown-menu > li:hover {
    background-color: rgb(217,35,46) !important;
}
.dropdown-menu > li > a > div {
    color: rgb(255,255,255);
    text-decoration: none;
}
.dropdown-menu > li > a:hover {
    background-color: rgb(217,35,46) !important;
  }
@media(max-width:1407px) {
    .navbar-nav {
        width: 85%;
        margin-left: auto;
        margin-right: auto;
    }
    .nav > li > img {
        margin: auto;
    }
}
@media(max-width:945px) {
    .navbar-nav {
        width: 100%;
    }
    .logo-menu {
        margin-left: auto;
        margin-right: auto;
    }
    .navbar-header {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    .nav > li > img {
        margin: auto;
    }
    .nav > li > a {
        padding-left: 5px;
        padding-right: 5px;
    }
}
@media (max-width: 767px) {
    .nav > li {
        width: 100% !important;
    }
    .navbar-inverse .navbar-nav > .open > a,
    .navbar-inverse .navbar-nav > .open > a:hover,
    .navbar-inverse .navbar-nav > .open > a:focus {
        color: rgb(255,255,255);
        background-color: rgba(1,6,85,0.8);
    }
    .dropdown-menu > li {
        color: rgb(255,255,255);
        background-color: rgba(1,6,85,0.5);
    }
    .logo-menu {
        padding: 5px;
        float: left;
    }
}

/*INICIO*/
.bg-inicio{
  background: url('../rec/img/bg-inicio.jpg')center; 
  background-size: all;
  border-top:solid;
  border-top-width: 4px;
  border-top-color: #ffffff;
  padding-top: 2%;
}

.plecas{
  margin-bottom: 3%;
  margin-top: 3%;
}

.bg-recetas{
  background-color: #ffffff;
  padding: 1%;
  margin: 1%;
  margin-bottom: 4%;
  -webkit-box-shadow: 0px 8px 16px 7px rgba(0,0,0,0.42);
-moz-box-shadow: 0px 8px 16px 7px rgba(0,0,0,0.42);
box-shadow: 0px 8px 16px 7px rgba(0,0,0,0.42);
}

.border-hover{
  border:5px solid #fff
}

.vermas{
  color: #fcff00 !important;
}

.app-container {
  padding-top: 59px;
  max-width: 1920px;
  margin: 0 auto; 
}

.header-section .hero {
  height: 410px; 
}

.hero {
  background: no-repeat center top;
  background-size: cover;
  color: #fff;
  max-width: 100%;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 100%; }
 
.hero.main {
    background-color: #000;
    display: table;
    height: 410px; 
}

.hr-vp{
	width: 50%;
	height: 15%;
}

.center-block {
	width: 70%;
}

.slide-inicio{
  width: 100%;
  height: auto;

}

.mute {
  position: absolute;
  top: 95%;
  left: 8px;
  width: 30px;
  height: 30px;
  z-index: 1000;
  border: 0;
  background-color: transparent; }
  .mute:focus {
    outline: 0; }
  .mute.off {
    background-image: url("http://prod1.nescafe.com/es_es/public/img/off-icon.png"); }
  .mute.off:hover {
    background-image: url("http://prod1.nescafe.com/es_es/public/img/off-icon-rollover.png"); }
  .mute.on {
    background-image: url("http://prod1.nescafe.com/es_es/public/img/on-icon.gif"); }
  .mute.on:hover {
    background-image: url("http://prod1.nescafe.com/es_es/public/img/on-icon-rollover.gif"); }

@media (max-width: 991px) {
  .hero.main .header-section .hero {
      height: 80vh; 
  }
  .hero.main.main {
      display: block; 
  }
  .hero.main .mobile-hero {
      position: absolute;
      width: 100%;
      left: 0;
      height: 575px; 
  }
  .hero.main .vertical-center {
      display: block;
      position: relative;
      padding: 6% 0; 
  }
  .hero.main .vertical-center .vertical-center-inner {
          display: block; 
  }
  .hero.main .vertical-center .vertical-center-inner .hero-content {
            display: block;
            width: 80%; 
  }

  .center-block {
	width: 40%;
  }

  .hero-content h4 {
    font-family:  Helvetica, Arial, sans-serif;
    line-height: 1.3em; 
   }
}

@media (max-width: 480px) {
    .hero.main .vertical-center {
        padding: 0;
    }
    .hero.main .vertical-center h4 {
        margin-bottom: 0; 
    }
    .hero.main .mobile-hero {
        height: 410px; 
    } 

    .center-block {
	width: 65%;
    }

    .hero-content h4 {
    font-family:  Helvetica, Arial, sans-serif;
    line-height: 1em !important; 
  }

  .hero.main .vertical-center .vertical-center-inner .hero-content .hero-cta {
        margin: auto;
        line-height: 1.3em;
    } 

    .hero-cta h4{
      font-size: 12px;
      padding-bottom: 4%;
    }
}


@media (min-width: 992px) {
    .hero.main .ratio.spacer {
        width: 100%; 
    }
    .hero.main .vid-bg {
        position: absolute;
        width: 100%; 
    }
    .hero.main .vertical-center {
        display: table-row;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        vertical-align: middle; 
    }
    .hero.main .vertical-center .vertical-center-inner {
        display: table;
        height: 100%;
        vertical-align: middle; 
    }
    .hero.main .vertical-center .vertical-center-inner .hero-content {
        display: table-cell;
        vertical-align: middle; 
    }
    .hero.main .vertical-center .vertical-center-inner .hero-content .hero-head {
        width: 52%; 
    }
    .hero.main .vertical-center .vertical-center-inner .hero-content .hero-cta {
        margin: auto;
        width:45%; 
    } 

    .hero-content h4 {
    font-family:  Helvetica, Arial, sans-serif;
    line-height: 1.3em; 
	}
}

.vertical-center {
  	display: table;
  	height: 100%;
  	position: relative;
  	width: 100%; 
}

.vertical-center-inner {
  	display: table-cell;
  	vertical-align: middle; 
}

.hero-content {
  	margin: 0 auto; 
}

.main .hero-content {
    width: 55%; 
}

.hero-content {
    width: 80%;
    margin: 5em auto; 
}

.hero-content h1 {
    margin: 0.6em 0;
    text-transform: uppercase; 
}
 
.hero-content.narrow {
    width: 80%; 
}
.hero-content h1 {
    font-size: 100px;
    text-transform: uppercase; 
}

.hero-content h3 {
    font-size: 58px;
    text-transform: uppercase; 
}

.hero-content h4 {
    font-family:  Helvetica, Arial, sans-serif;
    line-height: 1.5em; 
}

.hero-head {
  margin: 0 auto 45px;
  width: 50%; 
}

.hero-breaks {
  position: relative; }

.hero-text {
  text-align: left;
  margin-top: 50px; 
}


@media (min-width: 1279px)
	{
		.hero-head {
		  margin: 0 auto 45px;
		  width: 70%; 
		}
	}

@media (max-width: 590px) {
    .hero-text {
      margin-top: 10px; 
  } 
}

.img-noti{
  margin-top: 8%;
}

#recetas{
  margin: auto;
}


/*hover recetas*/
.hr-hover{
  width: 75%;
  margin-top: 10% !important;
  margin-bottom: 10px !important;
}

.hr-hover-recetario{
  width: 75%;
  margin-top: 5% !important;
  margin-bottom: 10px !important;
}

.hr-hover-grandes{
  width: 75%;
  margin-top: 2% !important;
  margin-bottom: 10px !important;
}

.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
  background-color: #174185;
}

.hovereffect .overlay {
  position: absolute;
  overflow: hidden;
  width:100%;
  height: 100%;
  left: 0%;
  top: 0%;
  padding-top: 6% !important;
  padding-left: 3% !important;
  padding-right: 3% !important;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: scale(0,1);
  -ms-transform: scale(0,1);
  transform: scale(0,1);
  background-color: rgba(0,70,136,1);
}

.hovereffect .overlayr {
  position: absolute;
  overflow: hidden;
  width:96%;
  height: 96%;
  left: 2%;
  top: 2%;
  padding-top: 2%;
  margin-right: 2%;
  margin-bottom:0%;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: scale(0,1);
  -ms-transform: scale(0,1);
  transform: scale(0,1);
  background-color: rgba(23,65,133,0.5);
}

.hovereffect:hover .overlay {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.hovereffect:hover .overlayr {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.hovereffect img {
  display: block;
  position: relative;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}

.hovereffect:hover img {
  /*filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="linear" slope="0.6" /><feFuncG type="linear" slope="0.6" /><feFuncB type="linear" slope="0.6" /></feComponentTransfer></filter></svg>#filter');*/
  filter: brightness(0.8);
  -webkit-filter: brightness(0.8);
  background-color: rgba(23,65,133,0.3);
}

.hovereffect h2 {
  text-transform: uppercase;
  text-align: center;
  position: relative;
  font-size: 14px;
  background-color: transparent;
  color: #FFF;
  padding: 1em 0;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0,-100%,0);
  transform: translate3d(0,-100%,0);
}

.hovereffect a, hovereffect p {
  color: #FFF;
  padding: 1em 0;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0,100%,0);
  transform: translate3d(0,100%,0);
}

.hovereffect:hover a, .hovereffect:hover p, .hovereffect:hover h2 {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}


.bg-lanzamiento{
  background: url('../rec/img/bg-lanzamiento.jpg')center; 
  background-size: all; 
}


.bg-content{
  background: url('../rec/img/bg-lanzamiento.jpg')center; 
  background-size: all; 
  padding-bottom: 2%;
  padding-top: 2%;
}

.bg-recetario{
  background: url('../rec/img/bg-recetas.jpg')center; 
  background-size: cover; 
  padding-bottom: 2%;
  padding-top: 2%;
}


/*ESTÃNDARES*/
.tif{
  margin:auto; 
  width:20%;
}
.procesos{
  font-size: 20px !important;
  text-align: center;
  padding: 3%;
}

#nues-pollos{
  font-size: 30px !important;
  margin-top: 8%;
}

/*EMPRESA*/
ul.a {
    list-style-type: none;
}

.filo{
  margin:auto; 
  width:40%;
}

.filo-mob{
  margin:auto; 
  width:25%;
  margin-top: 6%;
}

.esc-fil{
  font-size: 20px !important;
}

.mob-fil{
  font-size: 15px !important;
  text-align: center;
}

.p-02{
  padding: 3% 3% 3% 3%;
  text-align: center;
  color: #003366;
  padding-left: 
 }


.p-02>p{
  font-size: 20px !important;
}



.btn-filosofia:hover {
  cursor: pointer;
}

.btn-filosofia:hover {
  cursor: pointer;
  width:42%;
}

.mob-fil{
  display: none;
}

.video-corpo{
  width: 100%;
  height: auto;
}

@media (max-width: 940px){

.esc-fil{
  display: none;
}

.mob-fil{
  display: inline;
}
}

@media (max-width: 480px) {
  .procesos{
    font-size: 16px !important;
    text-align: center;
    padding: 3%;
  }

  .tif{
    margin:auto; 
    width:50%;
  }

  #nues-pollos{
  font-size: 20px !important;
  margin-top: 10%;
}

.esc-fil{
  display: none;
}

.mob-fil{
  display: inline;
}

}

/*VIDEO*/
.margin{
  height: 100%;
}


/*OFICINAS (MAPA)*/
#btn-ofi{
  font-size: 1.5em;
}

.esc-oficinas{
  padding-bottom: 4%;
  font-size: 1em !important;
}

.mob-oficinas{
display: none;
}


@media (max-width: 480px) {
.esc-oficinas{
  display: none;
}

.mob-oficinas{
  display: inline;
  padding-bottom: 2%;
}

}

/*RECETARIO*/

 .container .mob-recetas{
    display: none;
  }


.bg-r{
  background: url('../rec/img/bg-mantell.png')fixed no-repeat center; 
  background-size: all; 
  padding-bottom: 2%;
  padding-top: 2%;
}

.esc-header-recetas{
background: rgba(226, 37, 29, 0.9);
padding: 1%;
border-radius: 2px;
border-color: #25346d;
border-bottom-style: solid;
color: #ffffff;
}

.mob-header-recetas{
    display: none;
    background: rgba(226, 37, 29, 0.9);
    border-color: #25346d;
    color: #25346d;
    text-align: left !important;
}

.mob-receta{
  padding: 5%;
  font-size: 12px;
  margin-top: 2%;
  display: none;
}

.ico-cook{
  font-size: 16px;
}

.esc-receta{
  background: rgba(255, 255, 255, 0.6);
  padding: 5%;
  font-size: 18px;
  border-width: 10px;
  margin-top: 2%;
}


@media (max-width: 480px) {
  .bg-recetario{
    background: url('../rec/img/bg-recetas.jpg')center; 
    background-size: all; 
    padding-bottom: 2%;
    padding-top: 2%;
  }

  .container .esc-recetas{
    display: none;
  }
  .container .mob-recetas{
    display: inline;
  }

  .esc-header-recetas{
    display: none;
  }

  .esc-receta{
    display: none;
  }

  .mob-header-recetas{
    display: inline;
  }

  .mob-receta{
    display: inline;
  }

  .mob-receta li{
    padding-left: 5%;
    text-decoration: none;
  }
}


/*FOOTER*/

footer {
  margin: 0px !important;
}

.bg-footer{
	font-family: 'Cronos-Pro' !important;
	background-color: #071689;
	width: 100%;
	height: auto;
	font-size: 1em !important;
  color: #ffffff;
  padding-bottom: 1%;
  padding-top: 0%;

  border-top:solid;
  border-top-width: 4px;
  border-top-color: #e2e2e2;
  padding-top: 2%;
  -webkit-box-shadow: -2px -9px 12px -5px rgba(0,0,0,0.37);
  -moz-box-shadow: -2px -9px 12px -5px rgba(0,0,0,0.37);
  box-shadow: -2px -9px 12px -5px rgba(0,0,0,0.37);
}

.rojo{
  border-top:solid;
  border-top-width: 4px;
  border-top-color: #cb2535;
}

.gris-superior{
  border-top:solid;
  border-top-width: 4px;
  border-top-color: #e2e2e2;
  -webkit-box-shadow: 0px 2px 34px 11px rgba(0,0,0,0.32);
  -moz-box-shadow: 0px 2px 34px 11px rgba(0,0,0,0.32);
  box-shadow: 0px 2px 34px 11px rgba(0,0,0,0.32);



}

.gris-inferior{
  border-top:solid;
  border-top-width: 4px;
  border-top-color: #e2e2e2;
  -webkit-box-shadow: 0px 2px 34px 11px rgba(0,0,0,0.32);
  -moz-box-shadow: 0px 2px 34px 11px rgba(0,0,0,0.32);
  box-shadow: 0px 2px 34px 11px rgba(0,0,0,0.32);
}

.bg-footer img{
	margin: auto;
	margin-top: 0%;
}

.bg-footer i{
	font-size: 16px;
	color: #ffffff;
	text-align: left;

} 

.bg-footer label{
	font-size: 12px;
	color: #ffffff;
}

.bg-footer p {
	font-size: 15px;
	color: #ffffff;
}

#background{
	width: 100%;
}

/*form*/

.bg-footer .form-group{
	color: #ffffff !important;
}

.bg-footer button{
	background-color: #00024a;
	border-radius: 0px;
	width: 100%;
	color: #ffffff;
	text-align: left;
	font-size: 13px;
	border-color: #00024a;
	max-height:25px;
	height: 100%;
	padding: 1%;
	padding-left: 5%;
}

.bg-footer button:hover{
  background-color: #d9232e;
  border-radius: 0px;
  width: 100%;
  color: #ffffff;
  text-align: left;
  font-size: 13px;
  border-color: rgba(255,255,255,0.3);
  max-height:25px;
  height: 100%;
  padding: 1%;
  padding-left: 5%;
}


.bg-footer input[type=text], .bg-footer input[type=email], .bg-footer input[type=phone]{
	background-color: #071689;
	font-style: italic;
	border: 1px;
	border-radius: 0px;
	border-color: #000000;
	border-style: solid;
	max-height:25px;
	height: 100%; 
	font-size: 12px !important;
  font-family: 'Cronos-Pro' !important;
  color: #ffffff;
}

.bg-footer .est-sel select{
	background-color: #071689;
	color: #ffffff;
	font-style: italic;
	border: 1px;
	border-radius: 0px;
	border-color: #000000;
	border-style: solid;
	max-height:25px;
	height: 100%; 
	padding: 1%;
	font-size: 12px !important;
}

.bg-footer .est-sel {
   max-height:25px;
   height: 100%; 
   overflow: hidden;
   background-color: transparent;
   font-size: 12px !important;
}

.bg-footer textarea[type=text] {
	background-color: #071689;
	color: #ffffff;
	font-style: italic;
	border: 1px;
	border-radius: 0px;
	border-color: #000000;
	border-style: solid;
	font-size: 12px !important;
}

.bg-footer .privacidad{
	font-size: 14px;
	text-align: left;
}

#mob1, #mob2, #mob3{
	font-size: 13px;
}

#mob1, #mob2{
  text-decoration: underline;
}

#mob1:hover, #mob2:hover{
  text-shadow: 5px 5px 5px rgba(217, 35, 46, 0.45);
  cursor: pointer;
}

#mob1:hover, #mob2:hover, #mob3:hover{
  color: #d9232e;
  text-shadow: 5px 5px 5px rgba(217, 35, 46, 0.45);
}

.foo-mob{
		display: none;
	}
.foo-rs{
		display: none;
	}

  .priva-mob{
    display: none;
  }

  .privacidad{
    display: inline;
  }


  .form-contact{
    border-left: solid;
    border-left-color: #fff;
    border-width: 5px;
  }

  #esc-990{
    display: none;
  }

  #mob{
    display: none;
  }

/* Responsive Styles */

@media(max-width:1008px) {
  .bg-footer p {
  	font-size: 15px;
  	color: #ffffff;
  }

}

@media(max-width:991px) {
   .logo-footer{
    display: none;
  }

  #esc-991{
    display: none;
  }
  #esc-990{
    display: inline;
    font-size: 1em !important;
  }
  #mob{
    display: none;
  }

  #mob1, #mob2, #mob3, #ofi{
    font-size: 12px !important;
  }

  
  .bg-footer p {
	font-size: 15px;
	color: #ffffff;
	text-align: center;
	}

	#ofi{
		padding: 5%;
    font-size: 1.2em !important;
	}

	.bg-footer .privacidad{
	width: 100% !important;
	font-size: 14px;
	text-align: center;
  padding: 2%;

	}

	#mob1, #mob3{
	}

	.form-contact{
		display: none;
	}
	
	.foo-mob{
		font-size: 16px;
		color: #ffffff;
		display: inline;
    text-align: center;
	}

	.foo-mob a{
		color: #ffffff;
		text-decoration: underline;
    text-align: center;
	}

	#ser-cli{
		color: #ffffff;
		text-decoration: underline;
	}

	.foo-rs{
			display: inline;
			text-align: center;
	}

	#afb{
  		padding: 10%;
	}

	#ayt{
		text-align: center;
		padding: 3%;
	}

	.hr-mob{
		width: 75%;
		margin-top: 3%;
		margin-bottom: 3%;
	}

  #mob1, #mob2, #mob3{
  font-size: 18px;
  }

    .priva-mob{
    display: inline;
  }

  .privacidad{
    display: none;
  }

}


@media(max-width:767px) {
  .logo-footer{
    display: none;
  }

	#afb{
		padding: 3%;
	}


	.hr-mob{
		width: 75%;
		margin-top: 5%;
		margin-bottom: 5%;
	}

  .priva-mob{
    display: inline;
  }

  .privacidad{
    display: none;
  }

    .foo-mob a{
    color: #ffffff;
    text-decoration: underline;
    text-align: center;
  }

  @media(max-width:380px) {
    #esc-991{
      display: none;
    }
    #esc-990{
      display: none;
    }

    #mob{
      display: inline;
    }

     #mob1, #mob2, #mob3{
      font-size: 12px;
    }
  }

}